<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoeMxwD2_pnO_-b1u6F_2aHJa1IK_u0f4</string>
	<key>GCM_SENDER_ID</key>
	<string>424952857561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zRanqa.Poker-Tracker</string>
	<key>PROJECT_ID</key>
	<string>pokertracker-9ce07</string>
	<key>STORAGE_BUCKET</key>
	<string>pokertracker-9ce07.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424952857561:ios:f1e7d72fb1e02a6b904fc8</string>
</dict>
</plist>